<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Place Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    {% include 'header.html' %}

    <main>
        <section id="place-details" id="review-form-section">
            <!-- JS inserts place details here -->
        </section>


        <section class="review-button">
            <a href="/add_review?place_id={{ place.id }}">
                <button>Leave a Review</button>
            </a>
        </div>
    </main>

    <script src="{{ url_for('static', filename='js/helpers.js') }}"></script>
    <script src="{{ url_for('static', filename='js/place.js') }}"></script>

    {% include 'footer.html' %}

</body>
</html>
