body {
    overflow-y:hidden;
}

main {
    height: calc(100vh - 120px);
    overflow-y: auto;
}

.places-card {
    flex: 0 0 auto;
    width: 280px;
    border-radius: 16px;
    background: #fff;
    padding: 16px;
    box-shadow: 0 4px 18px rgba(0,0,0,0.08);
    scroll-snap-align: start;
}

.place-photo {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 12px;

}

.places-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    padding: 16px;
    box-sizing: border-box;
}

.places-container {
    max-width: 1100px;
    margin: 30px auto 50px;
    background: #ffffff;
    border-radius: 24px;
    padding: 24px;
    box-shadow: 0 6px 22px rgba(0, 0, 0, 0.06);
}

.places-list::-webkit-scrollbar {
    display: none;
}

.places-list {
    scrollbar-width: none; /* Firefox */
}

.price-filter {
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: #fff;
    cursor: pointer;
}
