.review-card {
    max-width: 700px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.place-title{
    color:aqua,
}

.review-title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 4px;
}

.section-label {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
}

.stars {
    color: #E2E2E2;
    font-size: 24px;
}

.category-ratings {
    margin-top: 20px;
}

.rating-row {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    border-bottom: 1px solid #EDEDED;
    font-size: 16px;
    color: #333;
}

.comment-section textarea {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 12px;
    margin-top: 10px;
    font-size: 16px;
}

.char-count {
    font-size: 14px;
    color: #888;
    margin-top: 6px;
}

.submit-review-btn {
    width: 100%;
    background-color: #ef5562;
    color: white;
    padding: 16px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}

.submit-review-btn:hover {
    background-color: #d62839;
}