.review-wrapper {       
    display: flex;          
    justify-content: center; 
    margin-top: 40px;
}

.review-card {
    width: 500px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
    text-align: center;
    max-width: 800px; 
}

.place-title{
    color:#030d01;
    font-size: 20px;
    font-weight: 800;
}

.review-title {
    color:#1e2630;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 4px;
}

.overall-rating {
    font-weight: 600;
    font-size: 18px;
}

.star-rating {
    display: flex;
    gap: 6px;
    font-size: 32px;
    cursor: pointer;
    justify-content: center;
    margin: 20px auto;
}

.star-rating span {
    color: #f3e3e3;
    transition: color 0.01s;
}

.star-rating span.selected {
    color: #e51d54;     
}

.comment-section {
    margin-top: 20px;
    justify-content: center;
}


.comment-section textarea {
    border: 1px solid #ddd;
    border-radius: 10px;
    background: #f7d5d5;
    padding: 12px;
    margin-top: 10px;
    font-size: 18px;
    
}

.char-count {
    font-size: 14px;
    color: #888;
    margin-top: 6px;
}

.submit-review-btn {
    /* width: 100%; */
    background-color: #e51d54;
    color: white;
    padding: 16px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}

.submit-review-btn:hover {
    background-color: #e51d54;
}