.review-wrapper {       
    display: flex;          
    justify-content: center; 
    margin-top: 40px;
    width: 100%;
}

#review-form {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.rating-section,
.comment-section,
.button-wrapper {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}


.overall-rating {
    font-weight: 600;
    font-size: 18px;
    color: #3d3d3dfa;
}

.star-rating {
    display: flex;
    gap: 6px;
    font-size: 32px;
    cursor: pointer;
    justify-content: center;
    margin: 20px auto;
}

.star-rating span {
    color: #f3e3e3;
    transition: color 0.01s;
}

.star-rating span.selected {
    color: #e51d54;     
}

.comment-section {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment-section textarea {
    border: 1px solid #ddd;
    border-radius: 10px;
    background: #f7d5d5;
    padding: 12px;
    margin: 10px auto 0;
    font-size: 18px;
    width: 80%;
    box-sizing: border-box;
}

.char-count {
    font-size: 14px;
    color: #888;
    margin-top: 6px;
}

.popup-hidden {
    position: fixed;
    justify-content: center;
    display: none;
}

.popup-content {
    background: white;
    padding: 20px 30px;
    border-radius: 12px;
    font-size: 18px;
    text-align: center;
    width: 320px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.popup-btns {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.back-btn {
    flex: 1;
    padding: 10px 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.back-btn {
    background-color: #e51d54;
    color: white;
}