html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
  flex: 1; /* pushes footer down */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-right {
    display: flex;
    align-items: center;
}

.logo img {
    display: block;
}

footer {
    text-align: center;
    padding: 20px;
}

