nav {
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-right {
    display: flex;
    align-items: center;
}

.logo img {
    display: block;
}



