html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
}

main {
  flex: 1; /* pushes footer down */
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 30px 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-right {
    display: flex;
    align-items: center;
}

.logo img {
    display: block;
}

footer {
    text-align: center;
    padding: 20px;
}
